# Hydra wiki
wiki/

# Haskell / Stack / Cabal
.stack-work
dist-newstyle/
stack.yaml.lock
*.cabal

# Java / Gradle
.gradle
gradle.properties`
build

# IDEs
.bsp/
.idea
*.iml
.vscode

# Python
__pycache__/
*.pyc

# Other
*.swp
