{:paths ["../../../dist/clojure/hydra-kernel/src/main/clojure"
         "src/main/clojure"
         "../../../dist/clojure/hydra-kernel/src/test/clojure"
         "src/test/clojure"]
 :deps {org.clojure/data.json {:mvn/version "2.5.1"}}}
